.static-container {
  padding: calc(50vh - 3.5rem) 0 0;
  margin: 0 25vw;
  min-height: 100vh;
  -webkit-perspective: 900px;
  perspective: 900px;
  -webkit-perspective-origin: 50% 50vh;
  perspective-origin: 50% 50vh;
}
@media (max-width: 550px) {
  .static-container {
    margin: 0 12vw;
  }
}
.container,
.title-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  -webkit-perspective: 900px;
  perspective: 900px;
  -webkit-perspective-origin: 50% 50vh;
  perspective-origin: 50% 50vh;
}

.std .-big {
  font-size: 1.8rem;
  line-height: 1.2;
  vertical-align: baseline;
}

pre {
  padding: 2rem;
  border-radius: 8px;
  background: #1d1d1d;
  color: #fff;
  font-size: 1ch;
  font-family: monospace;
}

* {
  user-select: none;
}

img {
  max-width: 100%;
  background: transparent;
  border-radius: 12px;
  transition: opacity 0.5s, transform 0.5s;
  transition-delay: 1s;
  opacity: 0;
  transform: translateY(20px);
}
.scene.active img {
  transform: translateY(0);
  opacity: 1;
}

.avatar {
  border-radius: 50%;
  /* max-width: 100px;
   */
  width: 0px;
  /* opacity: 0; */

  transition: border 0.5s;
  box-sizing: border-box;
  border: 50px solid #bbb;
}

.scene.active img.avatar {
  border: 0px solid #bbb;
  width: 100px;
}

blockquote {
  margin-left: 0;
  background: rgba(1, 80, 111, 0.05);
  padding: 0.8rem 2rem;
  color: #014864;
  border-left: 3px solid rgba(1, 80, 111, 0.7);
}

.finish {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
}
.btn {
  background: #e74d3cb4;
  color: #ecf0f1;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #c03a2bce;
}

.bg-after {
  z-index: -1;
  content: '';
  width: 100vmax;
  height: 100vmax;
  position: fixed;
  border-radius: 50%;
  background: #e74d3cb4;
  transition: transform 1s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.bg-after.active {
  transform: translate(-50%, -50%) scale(2);
}
